.tablero {
     
     height:max-content;
     width: max-content;
     background:transparent;
     display:grid;
     grid-template-columns: 1fr 1fr 1fr ;
     background : var(--light-grey);
     border-radius: var(--xl);
     
   
     
}

.casilla {
     background: var(--dark-grey);
     cursor: pointer;
     width: 7rem;
     height: 7rem;
     border: var(--xs) solid var(--light-grey);
     border-radius:var(--l)
     
}

.ocupada img{

     width: 70%;
     height: 70%;
}

@keyframes start {

     0% {

          opacity: 0;
     }

     100% {

          opacity: 1;
     }

}


@media (max-width: 550px) {

     .casilla {
           
               width: 6.5rem;
               height: 6.5rem;
     
          }

}