

section {
     position: relative;
     width: 90%;
     max-width: 1000px;
     height: 75svh;
     background-color: var(--black);
     border-bottom-left-radius:var(--xl); border-bottom-right-radius:var(--xl);
     flex-direction: column;
}

h2 {
     margin-top: 150px;
     width: 90%;
     padding: var(--xl) var(--xl);
     font-size: 30px;
     font-weight:bold;
     font-family: var(--title);
     color: var(--white);
     border-top-left-radius: var(--l);
     border-top-right-radius: var(--l);
     background:var(--black);
     
}

.marcadores {

     width: 95%;
   
    
}

.jugadores {
     display:flex;
     justify-content: left;
     align-content:center;
     align-items: center;
     justify-items: center;
     text-align: center;
     width: 70%;
     gap: var(--m);
}

.jugadores p {
     font-size: 30px;
     color:var(--light-grey);
     border-radius: var(--l);
          border: var(--xs) solid var(--light-grey);
          padding: var(--xs) var(--x);
}

.marcadores img {
     margin-left:var(--xl);
     width: 35px;

}



.crono time {
    
     font-size: 30px;
          color: var(--light-grey);
          border-radius: var(--l);
               border: var(--xs) solid var(--light-grey);
               padding: var(--xs) var(--x);

          }
     



.container-game {
  
     width:95%;
     height: 70%;
     background: var(--light-grey);
     border-radius: var(--xl);
     
}

.replay div{
     border-radius:50px;
     border:1px solid var(--light-grey);
   
     width: 50px;
     height: 50px;
}

.replay  img {
     padding: var(--m);
     width: 100%;
     height: 100%;
}