
.logo-container {

     background: var(--red2);
     border-radius: 50%;
     width: 100px;
     height: 100px;
     padding: 5px;

}

.logo-container div {

     background: var(--green);
     height: 100%;
     width: 100%;
     border-radius: 50%;
     
}

.logo-container img {

     height: 100%;

}


@media (max-width: 450px) {

     #logo-header {

          height: 50px;
          width: 50px;

     }

}