.tablero {
     
     height:max-content;
     width: max-content;
     border-radius: var(--xl);
     background: transparent;
     display:grid;
     grid-template-columns: 1fr 1fr 1fr ;
     
}

.casilla {
     background: var(--dark-grey);
     cursor: pointer;
     width: 7rem;
     height: 7rem;
     border: var(--xs) solid var(--light-grey);
     border-radius:var(--xl);
     
}

.ocupada img{

     width: 70%;
     height: 70%;
}