

header ul p , .inicio >ul p {
     cursor: pointer;
     color: var(--light-grey);
     border-radius: 25px;
     padding: 12px 15px;
     border:1px solid var(--black);
     transition:.5s;

     &:hover {
color :var(--green);
border: 1px solid var(--green);
     }
}

.inicio ul {

     justify-content: space-between;
}
.inicio li {

     background: var(--black);
     border-radius: 25px;
     min-width: 190px;
     border:5px solid var(--red);
     transition: .5s;
   
}