@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;

}



:root {

  --white: rgb(243, 243, 243);
  --black: #181818;
  --yellow: #FFC300;
  --green: #DAF7A6;
  --red: #C70039;
  --red2: #900C3F;
  --red3: #581845;
  --orange: #FF5733;
  --dark-grey: rgb(35, 34, 34);
  --grey: rgba(83, 77, 77, 0.973);
  --light-grey: rgba(248, 248, 248, 0.97);
  --xs : 1px;
  --s : 2px;
  --m :5px;
  --l : 10px;
  --x : 15px;
  --xl : 20px;
  --xxl : 50px;
  
  --text: "Encode Sans SC",
    sans-serif;
  --title: "Silkscreen",
    sans-serif;

}

i {

  font-size: 1.8rem;

}



.flex-container {

  display: flex;
  justify-items: flex-start;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
  gap: 2px;
  flex-wrap: wrap;

}


body {

  width: 100%;
  min-height: 100dvh;
}

header {
  position: fixed;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--black);
  width: 100%;
  height: 120px;
  height: max-content;
  padding: 20px 20px;
  font-size: 22px;
  font-family: var(--title);
  font-weight: bold;
  border-bottom-left-radius: 25px ;
  border-bottom-right-radius: 25px ;
  border-bottom:var(--m) solid var(--red3);

}

main {
  position: relative;
  width: 100%;
    min-height: 100dvh;
    background-image: url(./backgraund.svg);
    background-repeat: repeat;
    background-size: 50px;
    background-position: center center;
  flex-direction: column;

}

.inicio {

  width: 90%;
  min-height: 120px;
  height: max-content;
  padding: 20px 20px;
  font-size: 22px;
  font-family: var(--title);
  font-weight: bold;
  

}
