h2 {
     margin-top: 150px;
     width: 90%;
     max-width: 1000px;
     padding: var(--xl) var(--xl);
     font-size: 30px;
     font-weight: bold;
     font-family: var(--title);
     color: var(--white);
     border-top-left-radius: var(--l);
     border-top-right-radius: var(--l);
     background: var(--dark-grey);

}

section {
     position: relative;
     width: 90%;
     max-width: 1000px;
     height: max-content;
     background-color: var(--dark-grey);

}

.marcadores {
     display: flex;
     justify-content: space-between;
     align-items: center;
     justify-items: center;
     align-content: center;
     margin: var(--l);
     width: 95%;
     margin: var(--xl) var(--l);

}

.jugadores {
     display: flex;
     justify-content: center;
     align-content: center;
     align-items: center;
     justify-items: center;
     text-align: center;
     gap: var(--m);
     border-radius: var(--l);
     border: var(--xs) solid var(--light-grey);
     padding: var(--s) var(--s);

}

.jugadores p {
     font-size: 30px;
     color: var(--light-grey);
     border-radius: var(--l);
     border: var(--xs) solid var(--light-grey);
     padding: var(--xs) var(--l);
}

.marcadores img {

     width: 35px;

}

@keyframes turn {

     0% {

          opacity: 1;
     }

     50% {

          opacity: 1;
     }

     100% {

          opacity: 0;
     }

}

.icon-action {

     animation: turn .8s linear infinite;

}

.crono {

     display: flex;
     justify-content: center;
     align-content: center;
     align-items: center;
     justify-items: center;
     text-align: center;
     gap: var(--m);
     border-radius: var(--l);
     border: var(--xs) solid var(--light-grey);
     padding: var(--s) var(--s);
}

.crono strong {

     font-size: 30px;
     color: var(--light-grey);

}

.crono p {

     font-size: 30px;
     color: var(--light-grey);
     border-radius: var(--l);
     border: var(--xs) solid var(--light-grey);
     padding: var(--xs) var(--l);
}

.container-game {

     width: 95%;
     height: 70%;
     padding: 20px;
     background: var(--light-grey);
     background-size: var(--xl);
     background-position: center center;
     border-radius: var(--xl);

}

.saludo {

     padding: 10rem 2rem;
     font-size: var(--xl);
     font-family: var(--title);
     color: var(--red);
     font-weight: 700;

}

.saludo span {

     background: var(--dark-grey);
     border-radius: var(--xl);
     padding: var(--l);
}

.replay div {
     border-radius: 50px;
     border: 1px solid var(--light-grey);
     margin: var(--xl);
     width: 50px;
     height: 50px;
}

.replay button {
     border-radius: 50%;
     background: transparent;
     cursor: pointer;
     width: 100%;
     height: 100%;
}

.replay img {
     cursor: pointer;
     padding: var(--m);
     width: 100%;
     height: 100%;
}

.play-start {

     opacity: .2;
     pointer-events: none;
}

.clear {

     height: 70px;
     width: 90%;
     max-width: 1000px;
     background: var(--dark-grey);
     margin-bottom: 10px;
     padding: var(--xl);
     border-bottom-left-radius: var(--xl);
     border-bottom-right-radius: var(--xl);
     flex-direction: column;
}

.clear>img {
     cursor: pointer;
     border: var(--xs) solid var(--light-grey);
     border-radius: 50%;
     width: 50px;
     height: 50px;

}


.active {

     animation: movi .8s linear 4;
     pointer-events: visible;

}


@media (max-width: 550px) {
     .container-game {
     
               padding: 2px;

          }

     .jugadores p {
          font-size: 20px;
          padding: var(--xs) var(--m);

     }

     .marcadores img {

          width: 25px;

     }

     .crono p {

          font-size: 20px;
          padding: var(--xs) var(--m);

     }


     .crono strong {

          font-size: 20px;

     }

     .marcadores {

          margin: var(--l) var(--m);
     }

     h2 {
          margin-top: 82px;
          font-size: var(--xl);
          width: 95%;
          height: 60px;

     }

     section {

          width: 95%;

     }

     .clear {

          height: 60px;
          width: 95%;
     }

     .clear>img {

          width: 40px;

     }

     .saludo {

          font-size: 14px;

     }

     .replay div {

          margin: var(--l) var(--xl);
          width: 40px;
          height: 40px;
     }

}