.tablero-questions {

     width: 90%;
     height: 17rem;
     padding: var(--xl);
     background: var(--dark-grey);
     border-top-left-radius: var(--l);
     border-top-right-radius: var(--l);
     flex-direction: column;

}

.container-answers {

     width: 90%;
     height: 5rem;
     background: var(--dark-grey);
     border-bottom-left-radius: var(--l);
     border-bottom-right-radius: var(--l);
}

.container-temes {
     display: grid;
     grid-template-columns: 1fr 1fr;
     height: 15rem;
     width: 15rem;
     background: var(--light-grey);
     border-radius: var(--xxl);
     border: 2px solid var(--light-grey);
}

.tema {
     cursor: pointer;
     width: 100%;
     height: 100%;
     color: var(--light-grey);
     font-size: 1.3rem;
     font-family: var(--text);
     font-weight: bold;
     border: 2px solid var(--dark-grey);
}

.tema-0 {

     border-top-left-radius: var(--xxl);
     background: var(--orange);
     color: var(--dark-grey);
}

.tema-1 {

     border-top-right-radius: var(--xxl);
     background: var(--red);
}

.tema-2 {

     border-bottom-left-radius: var(--xxl);
     background: var(--red3);
}

.tema-3 {

     border-bottom-right-radius: var(--xxl);
     background: var(--yellow);
     color: var(--dark-grey);
}

.question {
     height: 15rem;
     width: 15rem;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: left;
}

.question p {

     height: 90%;
     width: 90%;
     border-left: 2px solid var(--light-grey);
     padding-left: var(--xl);
     color: var(--light-grey);
     font-family: var(--text);
     font-size: var(--xl);
     font-style: italic;




}

.answer {
     border-radius: var(--l);
     background: var(--light-grey);
     height: 50%;
     width: 70%;
     flex-direction: column;
}

.answer input {
     cursor: pointer;
     border: 1px solid var(--light-grey);
     border-bottom-left-radius: var(--l);
     border-top-left-radius: var(--l);
     width: 80%;
     height: 100%;
     font-size: var(--xl);
     padding-left: 10px;
     font-family: var(--text);
     &::placeholder{

          font-size: var(--xl);
          padding-left: 10px;
          font-style: italic;
          opacity: .5;
     }
}

.answer button {
     background:var(--dark-grey);
     cursor: pointer;
     height: 100%;
     width: 20%;
     border: 1px solid var(--light-grey);
     border-bottom-right-radius: var(--l);
     border-top-right-radius: var(--l);
     &:hover{
        
         background: var(--red3);

     }
}

.answer button img {
     cursor: pointer;
     height: 100%;
     width: 100%;
     background:var(--transparent);
     border-radius:var(--l);
    
}

.answered {

     opacity: 0.3;
}